@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Poppins', sans-serif;
}

h2 { font-size: 2.2rem; }
h4 { font-size: 1.5rem; }

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}

.display-1 {
  font-size: 56px;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-light {
  background: #fff;
  color: #f01d6f;
  border: 2px solid #f01d6f;
  width: 200px;
  text-align: center;
  margin-top: 20px;
}

.btn-orange {
  background: #f1521c;
  color: #fff;
  border: none;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.btn-light:hover {
  background: #f01d6f;
  border: 2px solid #f01d6f;
  color: #fff;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 200;
}

form .form-group {
  margin-bottom: 1rem;
}

form .form-control {
  display: block;
  width: 100%;
  padding: .375rem .7rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fdede8;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
}

/* Navbar */
#navbar {
  overflow: auto;
  padding: 20px 0;
}

#navbar a {
  color: #000;
}

#navbar .logo {
  float: left;
  padding-top: 16px;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

#navbar h1 a {
  color: #f1521c;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #fdede8;
}

/* Showcase */
#showcase {
  padding: 40px 0;
}

.showcase-title {
  float: left;
  width: 50%;
  background-image: linear-gradient(to right, #f1521c, #f000f2) ;
  border-radius: 20px;
  color: #fff;
  padding: 70px 30px;
}

.showcase-title h1 {
  font-weight: 200;
  padding-bottom: 20px;
}

.showcase-description {
  float: right;
  width: 50%;
  padding: 190px 0px 80px 110px;
}

.showcase-description h2 {
  font-weight: 400;
  padding-bottom: 20px;
}

/* Portfolio */
#portfolio {
  padding: 40px 0;
}

.portfolio-gradients {
  float: left;
  width: 60%;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 20px;
}

.portfolio-gradients-1 {
  background-image: linear-gradient(to right, #f1521c, #f000f2);
}

.portfolio-gradients-2 {
  background-image: linear-gradient(to right, #f000f2, #f1521c);
}

.portfolio-gradients-3 {
  background-image: linear-gradient(#f1521c, #f000f2);
}

.portfolio-description {
  float: right;
  width: 40%; 
  text-align: left;
  padding: 15px 0 30px 30px;
}

.portfolio-description h4 {
  font-weight: 400;
  padding-bottom: 10px;
}

.portfolio-description p {
  font-weight: 300;
}

/* Contact */
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 40%;
  margin: auto;
}

/* Footer */
#mainfooter {
  text-align: center;
  padding: 30px;
}